.thumbnail {
  max-width: 250px;
  height: auto;
}

.reviewContainer {
  height: 500px;
  overflow-y: scroll;
  color:white;
  background-color: #1b2838;
  padding: 5%;
}

.singleReview {
  padding: 5%;
  margin-bottom: 25px;
  color:white;
  background-color: #161920;
}

.aboutContainer {
  height: 500px;
  overflow-y: scroll;
  color:white;
  background-color: #1b2838;
  padding: 5%;
}

.detailsContainer {
  height: 500px;
  overflow-y: scroll;
  color:white;
  background-color: #1b2838;
  padding: 5%;
}

.container {
  max-width: 65vw;
}

.gameCard {
  margin-bottom: 50px;
  border-radius: 5px 5px 5px 5px;
  padding: 0%;
  background-color: #1b2838;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.gameHeader {
  background-color: #161920;
  border-radius: 5px 5px 0px 0px;
  padding: 2%;
}

.playerChart {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white !important;
}

.gameTabs .nav-link.active {
  color: black;
}

.gameTabs .nav-link {
  color: white;
}

.screenshotsContainer {
  height: 500px;
  overflow-y: scroll;
  color:white;
  background-color: #1b2838;
  padding: 1%;
}

.moviesContainer {
  height: 500px;
  overflow-y: scroll;
  color:white;
  background-color: #1b2838;
  padding: 1%;
}
